# TMALL Global-Analyze business model of cross-border e-commerce leader

## Ⅰ. Program Background

TMALL Global was founded in February 2014. According to statistics, its overseas purchase market share ranks first with 32.3%. In September this year, its parent company, Alibaba, acquired Netease Koala, which ranked second in market share, and ended the competition between the two cross-border e-commerce platforms.The complementary infrastructure and information between the two will undoubtedly further consolidate Tmall Global's leading position in the cross-border e-commerce market.

## Ⅱ. Program Instruction

This project is based on the big data of Tmall Global's platform. Starting from the product data of beauty, care, health care, luggage, digital products and other categories, it interprets the sales characteristics and business model of Tmall, explores its core competitiveness, as well as future Consumption trends in the international e-commerce market.

### Preparation Dataset：
* 天猫国际商品信息.xlsx (Product Information)
* 天猫国际收藏及评分字段.xlsx (Ratings)
* 天猫国际商品评论.csv (Comments)

## Ⅲ. Program Detailed Instruction

## 1. Data Cleansing and Manipulation

#### 1.1 Importing Dataset

In [ ]:
# Import your library (tips:pandas,numpy etc.)

In [ ]:
# Import 天猫国际商品信息.xlsx dataset (tips:Windows users need to add 'r' before your filepath: pd.read_excel(r'filepath')

In [ ]:
# Using .info() to view the basic information and over view of the dataset (tips: to see which columns have missing values)

In [ ]:
#Using .head() to view first five rows of the dataset

In [ ]:
#Using .describe() to statistically view the dataset (tips:to see which category is numeric)

In [ ]:
# import  天猫国际收藏及评分字段.xlsx dataset

In [ ]:
# merge the above datasets (tips:using on='id',watch out if they are the same!!)

In [ ]:
# delete 'id' column, keep 商品ID(product_id)

In [ ]:
# Rename the columns name and delete Chinese (tips: using .columns on original dataset and copy paste to create new column names)

#### 1.2 Handling Missing Values

In [ ]:
# Handling 'Product Description' missing value (using.isnull() on this column and check out why it's missing)

In [ ]:
# Try to fill teh NaN using .fillna() method and fill it with 'No Description' we can check it out by creating wordcloud afterwards

#### 1.3 Data Manipulation

In [ ]:
# Transform Current Price and Original Price to a range like 300-400,500-600
# But we first need to manipulate them to float format since some are already range format
# After we change them into numeric value then we can transform them into price range

In [ ]:
#creating a formula to deal with unexpected range 
def mean_price(s):
    L=s.split('-')#split the occasional range format into an array and store in L, notice these numbers are string format now!! c
    L=[float(i) for i in L]#change the string format into numeric values using a for loop!
    return np.mean(L) #compute these two numbers mean by using np.mean()

##watch out: when we want to compute the mean of list of numbers we should apply np.mean() not mean()!!
#here is a wrong example: 
#L=[1,2,3,4,5] 
#L.mean() will return an error but np.mean(L) won't, remember to watch out these tiny differneces.

In [ ]:
# apply this formula on current price

In [ ]:
# apply this formula on original price

In [ ]:
# Dealing with price=0 product, check out if there is any product's price equal to zero

In [ ]:
# Method 1: You can find the original price according to the url

In [ ]:
tm_data.loc[106,'商品现价']=539.00

In [ ]:
tm_data.loc[2433,'商品现价']=53

In [ ]:
# Method 2, considering there are not so many 0 values, we could just drop them and make things much easier!

In [ ]:
tm_data =tm_data[tm_data['商品现价']!=0]

In [ ]:
#when you drop out some values in your dataframe, you need to rearrange your index using: data.index=range(len(data))

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
# Start changing the numeric values to a range like 300-400,500-600, you can split the range interval yourself

In [ ]:
# you can use .value_counts().sort_index() to have the current price ranging from the highest to the lowest

In [ ]:
#then you can plot some price range using slicing method

In [ ]:
# 0-499,500-999,1000-1499,1500-1999,2000+

In [ ]:
#create get_range formula
def get_level(s):
    if int(s)<499:
        return '0-499'
    elif int(s)<999:
        return '500-999'
    elif int(s)<1499:
        return '1000-1499'
    elif int(s)<1999:
        return '1500-1999'
    elif int(s)>=1999:
        return '2000+'
    else:
        return 'error'

In [ ]:
# then apply it to current price and create a new dataframe

In [ ]:
#Handle shipping address, only retain national, provincial and special administrative levels
pro_list = ['北京',
 '上海',
 '天津',
 '重庆',
 '河北',
 '山西',
 '内蒙古',
 '黑龙江',
 '吉林',
 '辽宁',
 '陕西',
 '甘肃',
 '青海',
 '新疆',
 '宁夏',
 '山东',
 '河南',
 '江苏',
 '浙江',
 '安徽',
 '江西',
 '福建',
 '台湾',
 '湖北',
 '湖南',
 '广东',
 '广西',
 '海南',
 '四川',
 '云南',
 '贵州',
 '西藏',
 '香港',
 '澳门'
]

In [ ]:
# using get palce to change original place
def get_place(s):
    for i in pro_list:
        if i in s:
            return i
    return s

In [ ]:
#apply this method to the place column

In [ ]:
# change '海外美国' to '美国' using replace()

In [ ]:
# extract the numeric score from '人气' ,using eval(),extracting string from list and change the string into number

In [ ]:
# extract the numeric score from '评分' ,using eval(),extracting string from list and change the string into number

In [ ]:
# create sales volume columns using current price* product comments number

In [ ]:
# create discount percentage using current price/original price

In [ ]:
# save the file in Excel

#### 1.3 Dealing with comments dataset

In [ ]:
# clean and tidy, nothing need to handle in the first place

## 2. Visualization

#### 2.1 Tableau viz

* Changed the number of reviews to total sales



#### Shipping address has many dimensions to analyze and study，such as
* Bar chart of the number of records for different shipping addresses, excluding addresses with less than 100 records
* Bar chart of comparative analysis of merchandise sales at the place of shipment, take the top 15
* Create a group by right-clicking the shipping address, create 3 regional categories of mainland, Hong Kong, Macao and Taiwan


#### Commodity category analysis
* Analysis of sales of different categories of goods(Tree Map)
* Double-axis plot of sales versus sales of different categories of goods
* Average inventory of different categories of goods


#### Shop Analysis
* Top 10 stores sales bar chart
* Stacked bar chart of the 10 best-selling stores
* Comparison of the average discount strength of the 10 stores with the highest sales


#### Single product analysis
* Most Popular Products TOP10
* Top 10 most sold products
* Top 10 most popular products
* Top 10 products in stock



#### Mixed Analysis 
* Analysis of the distribution of scores (moving the score from the measure to the dimension, excluding the data column with a score of 0)
* Composition pie chart of the number of product records and sales by price level

#### 2.2. Making WordCloud using WordArt https://wordart.com/
* Products Description
* Products shipping address

# #Congratulations! YOU HAVE FINISHED COMPULSORY SECTION OF THIS PROGRAM AND YOU MATSER THE BASIC SKILLS TO BE A DATA ANALYST

# #Below is for your choice-you cloud learn more about machine learning related courses in datacamp and try to make your own predictions

## 3.Predictive Analytics（supervisored learning: multi-linear regression）

#### 3.1 Building Model

Using total sales volume as y,'current price','original price','inventory','score','rating','discounts','sales'as factors(X)

In [ ]:
#import dataset you have cleaned above

In [ ]:
# mapping seaborn

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Standardized the factors

In [ ]:
from sklearn.preprocessing import StandardScaler
std=StandardScaler()

In [ ]:
# Train_test_split
from sklearn.model_selection import train_test_split

In [3]:
#Linear_model
from sklearn.linear_model import LinearRegression

In [2]:
#Making Predictions on test size

In [4]:
#Calculate the accuracy score on test_size to see how your model performs